*{
    padding: 0;
    margin: 0;
}
#wrapper{
    position: relative;
}
.box{
    width: 150px;
    height: 900px;
    border: 2px solid black;
    position: absolute;
    text-align: center;

}
#box1{
    top: 10px;
    left: 50px;

}
#box2{
    top: 10px;
    left: 500px;
}
.cell{
    width: 80px;
    height: 80px;
    border: 2px solid black;
    box-sizing: border-box;
    margin-top: 5px;
    cursor: move;
    user-select: none;
    display: inline-block;
}
p{
    position: absolute;
    left: 250px;
    top: 300px;
    font-size: 20px;
    font-weight: 700;
}
#urlList{
    position: absolute;
    left: 1000px;
    bottom: 300px;
}